/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/

#page-title {
    /* background-image: url('../images/parallax/logo-portrait-up-1.jpg'); */
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
  }


@media (max-width: 768px) {
    #page-title {
      background-image: url('../images/parallax/logo-lion.jpg'); /* Mobil için farklı resim */
    }
  }

